################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/camapgen/v14
/camapgen.vcxproj.user 
/camapgen.VC.VC.opendb
/camapgen.VC.db 
/camapgen.vcxproj.user
/camapgen.VC.db
/imgui_log.txt 


README.md.bak
docs/mw_engineering_thesis-blx.bib
docs/mw_engineering_thesis.run.xml
docs/mw_engineering_thesis.synctex.gz
docs/references.bib.bak
docs/references_list-blx.bib
docs/references_list.run.xml
docs/references_list.synctex.gz
docs/_StronaTytulowa_PracaDyplomowa.docx
docs/mw_engineering_thesis.toc
docs/mw_engineering_thesis.out
docs/mw_engineering_thesis.lot
docs/mw_engineering_thesis.log
docs/mw_engineering_thesis.lof
docs/mw_engineering_thesis.blg
docs/mw_engineering_thesis.bbl
docs/mw_engineering_thesis.aux
